/* 전체 선택자: 모든 요소를 선택함. 브라우저 스타일을 초기화시킬 때 주로 사용. */
* {
  color: skyblue;
}

/* 타입 선택자: 특정 태그명을 가진 모든 요소를 선택함. */
h1 {
  color: #e28256;
}

/* 클래스 선택자: class "명"을 가진 모든 요소를 선택함. 항상 '.' 으로 시작함. */
.font-color {
  color: olivedrab;
}

/* ID 선택자: 태그의 id로 선택하는 방법. #으로 시작. */
#p1 {
  color: black;
}

/* 그룹 선택자: ','로 구분해서 복수의 요소를 선택하는 방법. selector를 여러 개 적음. */
em, strong {
  color: yellowgreen;
}