* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid #000000;
  margin: 10vh auto;
  width: 500px;
  height: 500px;
}

.divBoxBorder {
  border: 1px solid black;
  width: 150px;
  height: 150px;
}
/* div로 묶어서 div에다 border 속성을 주면 됐음. */
.positionBaseBox {
  margin: 40px;
  position: relative;
}

.secondBox {
  position: absolute;
  top: 200px;
  left: -1px;
}

.thirdBox {
  position: absolute;
  top: 30%;
  left: 200px;
}